<form method="POST" action="{% url 'login' %}" class="ui large form">{% csrf_token %}
    <div class="field">
        <label>Nome de Usuário</label>

        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" required="required" />
        </div>
    </div>
    <div class="field">
        <label>Senha</label>

        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" required="required" />
        </div>
    </div>

    <input type="submit" value="Entrar" class="ui large blue submit button"/>
</form>
