.item.logout{
    border: 1px solid #af2523;
    border-radius: 0.25em;
    color: #af2523!important;
}

.item.logout:hover{
    background-color: #fffcfc!important;
}

.card .image img{

}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-icon{
    padding: 0 !important;
}

.lista-detalhes-equipamento{
    font-size: 1.2em !important;
    margin-left: 0 !important;
}

.lista-detalhes-equipamento .item{
    margin-bottom: 10px;
}