{% extends '__base__.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    {% if usuario_form %}
    <a href="{% url 'inicio' %}">Voltar ao Início</a>

    <h2>Cadastrar</h2>

    <form method="POST" action="{% url 'cadastro_usuario' %}">{% csrf_token %}
        {% if usuario_form.errors %}
            <div style="color: red;">
                {{ usuario_form.errors }}
            </div>
        {% endif %}

        {{ usuario_form.as_p }}

        <input type="submit" value="Registrar" />
    </form>

    {% else %}
        {% if cadastro_realizado %}
            <div style="color: #1fa900;">
                Cadastro realizado com sucesso!
            </div>
            <a href="{% url 'inicio' %}">
                Faça login aqui
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
