{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle Arduino - {% block title %}{% endblock %}</title>

    {% include '__head__.html' %}

    {% block extreahead %}{% endblock %}
</head>

<body>
<div class="ui centered grid">

    <div class="black row">
        <div class="twelve wide left aligned barra_superior column">
            <a href="{% url 'inicio' %}">
                <article class="logo">
                    Inventário
                    <mark>Arduino</mark>
                </article>
            </a>

            <div class="menu">
                <a href="{% url 'inicio' %}">
                    <button class="font-white">
                        HOME
                    </button>
                </a>
                <a href="{% url 'ajuda' %}">
                    <button class="font-white">
                        AJUDA
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

{% include '__scripts__.html' %}

</body>
</html>
