<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle Arduino - {% block title %}{% endblock %}</title>
    {% include '__head__.html' %}
    {% block extreahead %}{% endblock %}
</head>

<body>

<div class="ui centered grid">

    <div class="black row">
        <div class="twelve wide left aligned barra_superior column">
            <a href="{% url 'inicio' %}">
                <article class="logo">
                    Inventário
                    <mark>Arduino</mark>
                </article>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="twelve wide column">
            <div class="ui menu">
                <a href="{% url 'painel' %}" class="item">
                    <i class="home icon"></i>
                    Início
                </a>

                {% if user.is_superuser %}
                    <a href="{% url 'cadastro_equipamento' %}" class="item">
                        <i class="plus icon"></i>
                        Cadastrar equipamento
                    </a>
                {% endif %}

                <a href="{% url 'lista_equipamentos' %}" class="item">
                    <i class="list icon"></i>
                    Equipamentos
                </a>

                <a href="{% url 'lista_equipamentos_desativados' %}" class="item">
                    <i class="close icon"></i>
                    Equipamentos desativados
                </a>

                {% if not request.user.is_superuser %}
                    <a href="{% url 'meus_empresitmos' %}" class="item">
                        <i class="list icon"></i>
                        Meus empréstimos
                    </a>
                {% endif %}

                <a href="{% url 'cadastro_tag' %}" class="item">
                    <i class="tags icon"></i>
                    Tags
                </a>

                <div class="right floated menu">
                    <span class="item"><i class="user icon"></i> <strong>{{ request.user }}</strong></span>
                    <a href="{% url 'logout' %}" class="logout item">
                        <i class="sign out icon"></i>
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

{% include '__scripts__.html' %}

</body>
</html>
