{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle Arduino - {% block title %}{% endblock %}</title>

    {% include '__head__.html' %}

    {% block extreahead %}{% endblock %}
</head>

<body>
<div class="ui centered grid">

    <div class="black row">
        <div class="twelve wide left aligned barra_superior column">
            <article class="logo">
                Inventário
                <mark>Arduino</mark>
            </article>

            <div class="menu">
                <button>
                    HOME
                </button>
                <button>
                    HELP
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

{% include '__scripts__.html' %}

</body>
</html>
