{% extends '__base__.html' %}

{% block title %}Ajuda{% endblock %}

{% block content %}

    <div class="twelve wide column">
        <br/>
        <div class="ui grid">
            <div class="column center aligned">
                <h1 class="">
                    Entre em contato para maiores informações
                </h1>
            </div>
        </div>

        <br/>
        <br/>

        <div class="ui centered grid">
            <div class="six wide column">
                <div class="ui segment center aligned">
                    <h2 class="ui icon header">
                        <i class="circular user icon"></i>
                        Wagner Esser
                    </h2>
                    <p><i class="mail icon"></i> waesser@gmail.com</p>
                    <p><i class="whatsapp icon"></i> (47) 99282-6721</p>
                    <p><i class="suitcase icon"></i> Fábrica de Software (NODES)</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
