{% extends '__base_painel__.html' %}

{% block title %}
    {% if not id %}
        Cadastrar Equipamento
    {% else %}
        Editar Equipamento
    {% endif %}
{% endblock %}

{% block content %}

    {% if msg %}
        <div class="ten wide column">
            <div class="ui {{ cor_msg }} message">
                <div class="header">
                    {{ msg }}
                </div>
            </div>
            <br/>
        </div>
    {% endif %}

    {% if form %}
        <div class="ten wide column">
            <div class="ui grid">
                <div class="left floated thirteen wide column">
                    <h1 class="ui header">
                        {% if not id %}
                            <i class="plus icon"></i>
                            <div class="content">
                                Cadastrar Equipamento
                                <div class="sub header">
                                    Preencha o formulário abaixo
                                </div>
                            </div>
                        {% else %}
                            <i class="edit icon"></i>
                            <div class="content">
                                Editar Equipamento
                                <div class="sub header">
                                    Faça as alterações no formulário
                                </div>
                            </div>
                        {% endif %}
                    </h1>
                </div>

                {% if id %}
                    <div class="right floated right aligned three wide column">
                        <a class="abrirModalConfirmacao" href="#">
                            <div class="ui labeled icon button red">
                                <i class="trash icon"></i> Excluir
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
            <br/>

            <form method="POST" action="
                {% if not id %}{% url 'cadastro_equipamento' %} {% else %}{% url 'editar_equipamento' id %}{% endif %}"
                  enctype="multipart/form-data" class="ui form">
                {% csrf_token %}

                <input type="hidden" name="id" value="{% if id %}{{ id }}{% endif %}">

                <div class="fields">
                    <div class="thirteen wide field">
                        <label>Descrição</label>
                        {{ form.descricao }}
                        {% if form.descricao.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.descricao.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="two wide field">
                        <label>Quantidade</label>
                        <label>
                            {% if id %}
                                <input id="id_quantidade_total" maxlength="3" name="quantidade_total"
                                       value="{{ form.quantidade_total.value }}" type="text" readonly>
                            {% else %}
                                {{ form.quantidade_total }}
                            {% endif %}
                        </label>
                        {% if form.quantidade_total.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.quantidade_total.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="one wide field">
                        <label>Ativo</label>
                        {{ form.ativo }}
                        {% if form.ativo.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.ativo.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="fields">
                    <div class="seven wide field">
                        <label>Foto</label>
                        {{ form.foto }}
                        {% if form.foto.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.foto.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="five wide field">
                        <label>Local</label>
                        {{ form.local }}
                        {% if form.local.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.local.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="four wide field">
                        <label>Categoria</label>
                        {{ form.categoria }}
                        {% if form.categoria.errors %}
                            <div class="ui pointing red basic label">
                                {{ form.categoria.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <label>Observações</label>
                    {{ form.observacao }}
                    {% if form.observacao.errors %}
                        <div class="ui pointing red basic label">
                            {{ form.observacao.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="ui three big buttons">
                    <button type="button" onclick="location.href='{% url 'painel' %}'" class="ui button red">
                        Cancelar
                    </button>
                    <input type="reset" name="limpar" class="ui button default" value="Limpar"/>

                    {% if not id %}
                        <input type="submit" name="submit" class="ui button green" value="Cadastrar"/>
                    {% else %}
                        <input type="submit" name="submit" class="ui button green" value="Atualizar"/>
                    {% endif %}

                </div>
            </form>
        </div>
    {% else %}
        <div class="ten wide column">
            <div class="ui red message">
                <div class="header">
                    Falha ao carregar o formulário!
                </div>
            </div>
            <br/>
        </div>
    {% endif %}


    {% if id %}
        {#========== MODAL ==========#}
        <div class="ui small modal modalConfirmacao">
            <i class="close icon"></i>
            <div class="ui icon header">
                <i class="trash icon"></i>
                Deseja realmente excluir?
            </div>
            <div class="ui actions">
                <div class="ui green ok inverted button">
                    Não
                </div>
                <a class="ui red ok inverted button" href="{% url 'excluir_equipamento' id %}">
                    <i class="remove icon"></i>
                    Sim
                </a>
            </div>
        </div>
        {#========== / MODAL ==========#}
    {% endif %}

{% endblock %}