{% extends '__base_painel__.html' %}

{% block title %}Cadastrar Equipamento{% endblock %}

{% block content %}

{% if equipamento_form %}
<div class="ten wide column">
    <h1 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
            Cadastrar Equipamento
            <div class="sub header">
                Preencha o formulário abaixo
            </div>
        </div>
    </h1>

    <form method="POST" action="{% url 'cadastro_equipamento' %}" enctype="multipart/form-data" class="ui form">{% csrf_token %}
        <div class="field">
            <label>Descrição</label>
            <div class="ui input">
                {{ equipamento_form.descricao }}
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label>Foto</label>
                {{ equipamento_form.foto }}
            </div>

            <div class="field">
                <label>Local</label>
                {{ equipamento_form.local }}
            </div>

            <div class="field">
                <label>Categoria</label>
                {{ equipamento_form.categoria }}
            </div>
        </div>

        <div class="field">
            <label>Observações</label>
            <div class="ui input">
                {{ equipamento_form.observacao }}
            </div>
        </div>

        <div class="ui two big buttons">
            <a href="#" class="ui button">
                Cancelar
            </a>
            <input type="submit" class="ui green button" value="Cadastrar">
        </div>
    </form>

{% endif %}
</div>
{% endblock %}
