{% extends '__base_painel__.html' %}

{% load static %}

{% block title %}Lista{% endblock %}

{% block content %}

    {% if msg %}
        <div class="ten wide column">
            <div class="ui {{ cor_msg }} message">
                <div class="header">
                    {{ msg }}
                </div>
            </div>
            <br/>
        </div>
    {% endif %}

    <div class="twelve wide column">

        {% if dados %}
            <h1>
                <i class="ui list icon"></i> Meus Empréstimos
            </h1>

            <div class="ui items">
                {% for emprestimo in dados %}
                    <a href="{% url 'visualizar_equipamento' emprestimo.equipamento.id %}">
                        <div class="item">
                            <img src="
                                    {% if emprestimo.equipamento.foto %}{{ emprestimo.equipamento.foto.url }}{% else %}
                                {% static 'images/sem_imagem.png' %}{% endif %}"
                                 class="ui rounded bordered small image">
                            <div class="content detalhes-equipamento-lista-geral">
                                <a href="{% url 'visualizar_equipamento' emprestimo.equipamento.id %}"
                                   class="header">{{ emprestimo.equipamento.descricao }}</a>
                                <div class="extra">
                                    <i class="calendar icon"></i> Modificado em {{ emprestimo.equipamento.data_alteracao }}
                                </div>
                                <div class="meta">
                                    <div class="header">
                                        <i class="block layout icon"></i>
                                        <strong>Categoria: </strong>{{ emprestimo.equipamento.categoria.descricao }}
                                    </div>
                                </div>
                                <div class="meta">
                                    <div class="header">
                                        <i class="list icon list-icon"></i>
                                        <strong>Quantidade Total:</strong> {{ emprestimo.equipamento.quantidade_total }}
                                    </div>
                                </div>
                                <div class="meta">
                                    <div class="header">
                                        <i class="list icon list-icon"></i>
                                        <strong>Quantidade
                                            Disponível:</strong> {{ emprestimo.equipamento.quantidade_disponivel }}
                                    </div>
                                </div>

                                <span class="font-red">
                                    <i class="asterisk icon"></i> Emprestado em {{ emprestimo.data_retirada }}
                                </span>
                                <br/>
                                <span class="font-red">
                                    <i class="list icon"></i> Quantidade emprestada: {{ emprestimo.quantidade_utilizada }}
                                </span>

                                {% if emprestimo.equipamento.tags %}
                                    <div class="meta">
                                        <div class="header">
                                            <i class="sticky note icon"></i>
                                            <strong>Tags:</strong>
                                            {% for tag in emprestimo.equipamento.tags %}
                                                <a href="{% url 'lista_equipamentos' %}?tag={{ tag.descricao }}"
                                                   class="tags-inventario-link">
                                                    <div class="ui icon tags-inventario label">{{ tag.descricao }}</div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </a>
                    <div class="ui divider"></div>
                {% endfor %}
            </div>

            {% include 'blocos/pagination.html' %}
        {% else %}
            <div class="ten wide column">
                <div class="ui message">
                    <div class="header">
                        Sem equipamentos disponíveis.
                    </div>
                </div>
                <br/>
            </div>
        {% endif %}
    </div>
{% endblock %}
