{% extends '__base_painel__.html' %}

{% block title %}Painel{% endblock %}

{% block content %}

    {% if msg %}
        <div class="ten wide column">
            <div class="ui {{ cor_msg }} message">
                <div class="header">
                    {{ msg }}
                </div>
            </div>
            <br/>
        </div>
    {% endif %}

    <div class="twelve wide column">
        <h3>Bem-vindo!</h3>

        {% if user.is_staff %}
            ADMIN
        {% else %}
            NORMAL
        {% endif %}

        {% if equipamentos_recentemente_cadastrados %}
            <h1>
                Equipamentos recentemente cadastrados
            </h1>

            <div class="ui five cards">
                {% for equipamento in equipamentos_recentemente_cadastrados %}
                    <a href="{% url 'editar_equipamento' equipamento.id %}" class="card">
                        {% if equipamento.foto %}
                            <div class="image">
                                <img src="{{ equipamento.foto.url }}"/>
                            </div>
                        {% endif %}

                        <div class="content">
                            <div class="description">
                                {{ equipamento.descricao }}
                            </div>
                        </div>
                        <div class="extra content">
                            Quantidade disponível: {{ equipamento.quantidade_disponivel }}
                        </div>
                    </a>
                {% endfor %}
            </div>
            </div>
        {% endif %}

{% endblock %}
