{% extends '__base_painel__.html' %}

{% block title %}Painel{% endblock %}

{% block content %}
<div class="twelve wide column">
    <h3>Bem-vindo!</h3>

    {% if user.is_staff %}
        ADMIN
    {% else %}
        NORMAL
    {% endif %}

    {% if equipamentos_recentemente_cadastrados %}
    <h1>
        Equipamentos recentemente cadastrados
    </h1>

    <div class="ui five cards">
        {% for equipamento in equipamentos_recentemente_cadastrados %}
        <div class="card">
            <div class="image">
                <img src="{{ equipamento.foto.url }}" />
            </div>

            <div class="content">
                <div class="description">
                    {{ equipamento.descricao }}
                </div>
            </div>
            <div class="extra content">
                Quantidade disponível: {{ equipamento.quantidade_disponivel }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}
