{% extends '__base_painel__.html' %}

{% load static %}

{% block title %}Painel{% endblock %}

{% block content %}

    {% if msg %}
        <div class="ten wide column">
            <div class="ui {{ cor_msg }} message">
                <div class="header">
                    {{ msg }}
                </div>
            </div>
            <br/>
        </div>
    {% endif %}

    <div class="twelve wide column">

        {% if equipamentos_recentemente_cadastrados %}
            <h1>
                Equipamentos recentemente cadastrados
            </h1>

            <div class="ui five cards">
                {% for equipamento in equipamentos_recentemente_cadastrados %}
                    <a href="{% url 'visualizar_equipamento' equipamento.id %}" class="card">
                            <div class="image">
                                <img src="{% if equipamento.foto %}{% static equipamento.foto.url %}{% else %}
                                 {% static 'media/sem_imagem.png' %}{% endif %}"
                                 class="ui top aligned medium rounded bordered image"/>
                            </div>

                        <div class="content">
                            <div class="description">
                                {{ equipamento.descricao }}
                            </div>
                        </div>
                        <div class="extra content">
                            Disponível: {{ equipamento.quantidade_disponivel }}
                        </div>
                        {% if not equipamento.ativo %}
                            <div class="extra content">
                                <strong class="font-yellow">Equipamento desativado</strong>
                            </div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
