{% extends '__base_painel__.html' %}

{% block title %}
    {% if not id %}
        Cadastrar Tag
    {% else %}
        Editar Tag
    {% endif %}
{% endblock %}

{% block content %}
    <div class="eight wide column">

        {% if msg %}
            <div class="ui {{ cor_msg }} message">
                <div class="header">
                    {{ msg }}
                </div>
            </div>
        {% endif %}

        {% if form.descricao.errors %}
            <div class="ui red message">
                <div class="header">
                    {{ form.descricao.errors }}
                </div>
            </div>
        {% endif %}

        <h1 class="ui header">
            <i class="tags icon"></i>
            <div class="content">
                Tags
                <div class="sub header">
                    {% if request.user.is_superuser %}
                        Gerenciamento das tags
                    {% else %}
                        Lista de Tags
                    {% endif %}
                </div>
            </div>
        </h1>

        {% if form %}
            <form method="POST"
                  action="{% if id %}{% url 'edita_tag' id %}{% else %}{% url 'cadastro_tag' %}{% endif %}"
                  class="ui form">{% csrf_token %}
                <input type="hidden" name="id" value="{% if id %}{{ id }}{% endif %}"/>

                <div class="field">
                    <label>{{ form.descricao.label }}</label>
                    <div class="ui left icon input">
                        <i class="tag icon"></i>
                        {{ form.descricao }}
                    </div>
                </div>

                <div class="ui two big buttons">
                    <a href="{% url 'painel' %}" class="ui red button">
                        Cancelar
                    </a>
                    <input type="submit" class="ui green submit button"
                           value="{% if id %}Salvar{% else %}Cadastrar{% endif %}">
                </div>
            </form>
        {% endif %}

        {% if request.user.is_superuser %}
            <h3 class="ui header">
                <i class="tags icon"></i>
                <div class="content">
                    Tags cadastradas
                    <div class="sub header">Lista de Tags</div>
                </div>
            </h3>
        {% endif %}

        {% if tags %}
            {% for tag in tags %}
                {% if request.user.is_superuser %}
                    <div class="ui big icon tags-inventario label" style="margin-bottom: 8px;">
                        <a href="{% url 'exclui_tag' tag.id %}"><i class="remove icon"></i></a>
                        <a href="{% url 'edita_tag' tag.id %}"><i class="edit icon"></i></a>
                        <a href="{% url 'lista_equipamentos' %}?tag={{ tag.descricao }}" class="tags-inventario-link">
                            {{ tag.descricao }}
                        </a>
                    </div>
                {% else %}
                    <div class="ui big icon tags-inventario label" style="margin-bottom: 8px;">
                        <a href="{% url 'lista_equipamentos' %}?tag={{ tag.descricao }}" class="tags-inventario-link">
                            {{ tag.descricao }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}