{% extends '__base_painel__.html' %}

{% block title %}Visualizar Equipamento{% endblock %}

{% block content %}

{% if equipamento %}
    <h1>{{ equipamento.descricao }}</h1>

    {% if user.is_staff %}
    <h4>
    {% if equipamento.ativo %}
        <a href="{% url 'desativar_equipamento' id_equipamento=equipamento.id %}">Desativar</a>
    {% else %}
        <a href="{% url 'ativar_equipamento' id_equipamento=equipamento.id %}">Ativar</a>
    {% endif %}
        | <a href="{% url 'acrescentar_equipamento' id_equipamento=equipamento.id %}">+ Acrescentar</a>

        {% if equipamento.quantidade_disponivel != '0' %}
            | <a href="{% url 'reduzir_equipamento' id_equipamento=equipamento.id %}">- Reduzir</a>
        {% endif %}
    </h4>
    {% endif %}

    <h2>Retirar/Emprestar</h2>
    {% if equipamento.quantidade_disponivel == '0' %}
        <span>
            <i>Equipamento indisponível para empréstimo</i>
        </span>
        {% else %}
        <form method="POST" action="{% url 'emprestar' id_equipamento=equipamento.id %}">{% csrf_token %}
            <p>
                Quantidade:
            </p>
            <p>
                <input type="text" name="quantidade" value="1" required="required">
            </p>
            <input type="submit" value="Emprestar" />
        </form>
    {% endif %}

    {% if utilizacoes|length > 0 %}
        <h2>Retiradas</h2>

        <br>
        {% for utilizacao in utilizacoes %}
            <li>
                {{ utilizacao.usuario.username }} - Quantidade: {{ utilizacao.quantidade_utilizada }}
                </br>
                <i>Data retirada: {{ utilizacao.data_retirada|date:"h:i d/m/y" }}</i>

                {% if user == utilizacao.usuario and utilizacao.ativo %}
                    <a href="{% url 'devolver' id_utilizacao=utilizacao.id %}">Devolver</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Detalhes</h2>

    <table>
        <tr>
            <td>Observações</td>
            <td>{{ equipamento.observacoes }}</td>
        </tr>
        <tr>
            <td>Quantidade Total</td>
            <td>{{ equipamento.quantidade_total }}</td>
        </tr>
        <tr>
            <td>Quantidade Disponível</td>
            <td>{{ equipamento.quantidade_disponivel }}</td>
        </tr>
        <tr>
            <td>Caixa</td>
            <td>{{ equipamento.caixa.descricao }}</td>
        </tr>
        <tr>
            <td>Categoria</td>
            <td>{{ equipamento.categoria.descricao }}</td>
        </tr>
    </table>

    <h2>Foto</h2>

    <img src="{{ equipamento.foto.url }}" />

    <h2>Comentários</h2>

    {% include 'formularios/comentario.html' %}

    {% if comentarios %}
        {% for comentario in comentarios %}
        <div style="border-bottom: 2px solid #252525; padding: 5px;">
            <h3>{{ comentario.mensagem }}</h3>
            <i>
                {{ comentario.usuario.username }} - em {{ comentario.data|date:"d/m/y" }}
            </i>
        </div>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
